@page
@model OrdersModel
@{
    ViewBag.Title = "Orders";
}

<h4>Unshipped Orders</h4>
@if (Model.unshippedorders.Count() != 0)
{
    <table class="table table-bordered table-striped">
        <tr>
            <th>Name</th>
            <th>Zip</th>
            <th colspan="2">Details</th>
            <th></th>
        </tr>
        @foreach (var item in Model.unshippedorders)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Zip</td>
                <th>Product</th>
                <th>Quantity</th>
                <td>
                    <form method="post">
                        <input type="hidden" name="OrderID"
                               value="@item.OrderID" />
                        <input type="hidden" name="returnUrl"
                               value="@Model.ReturnUrl" />
                        <button class="btn btn-sm btn-danger">
                            Ship
                        </button>
                    </form>
                </td>
            </tr>
            @foreach (var cart in item.Lines)
            {
                <tr>
                    <td colspan="2"></td>
                    <td>@cart.Product.Name</td>
                    <td>@cart.Quantity</td>
                    <td></td>
                </tr>
            }
        }
    </table>
}
else
{
    <div class="text-center">No Unshipped Orders</div>
}


<h4>Shipped Orders</h4>
@if (Model.ShippedOrders.Count() != 0)
{
    <table class="table table-bordered table-striped">
        <tr>
            <th>Name</th>
            <th>Zip</th>
            <th colspan="2">Details</th>
        </tr>

        @foreach (var shiporder in Model.ShippedOrders)
        {
            <tr>
                <td>@shiporder.Name</td>
                <td>@shiporder.Zip</td>
                <th>Product</th>
                <th>Quantity</th>
            </tr>
            @foreach (var item in shiporder.Lines)
            {
                <tr>
                    <td colspan="2"></td>
                    <td>@item.Product.Name</td>
                    <td>@item.Quantity</td>
                </tr>
            }
        }
    </table>
}
else
{
    <div class="text-center">No Shipped Orders</div>
}

<div class="text-center mt-2">
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Return to Home Page</a>
</div>


